<!-- <h2>{{question.question_text}}</h2>
<ul>
	<a href="/trivia/{{question.id}}/FCanswer"> See Answer </a>
</ul> -->

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link href="../../favicon.ico" rel="icon" >
<title>Flashcard</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href = "http://getbootstrap.com/examples/cover/cover.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<!-- Optional theme -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"> -->

 </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Q++</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="../../">Home</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">{{question.question_text}}</h1>
            <p class="lead"></p>
            <p class="lead">
              <a href="answer" class="btn btn-lg btn-default">See Answer</a>
              <a href="../{{id}}" class="btn btn-lg btn-default">Skip</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Created by Brooke Kelsey and Rachel Stein. Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
	</body>
</html>