<!-- {% if latest_question_list %}
<ul>
{% for question in latest_question_list %}
<li><a href="{{question.id}}/"> {{question.question_text}}</a></li>
{% endfor %}
</ul>
{% else %}
<p>No questions are available.</p>
{% endif %} -->

<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link href="../../favicon.ico" rel="icon" >
<title>Q++ Home</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href = "http://getbootstrap.com/examples/cover/cover.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<!-- Optional theme -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"> -->

 </head>

 	<body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Q++</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="about">About</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Q++.</h1>
            <p class="lead">Q++ is a trivia app built for reviewing course materials from CS31 and CS35, in order to help prepare for job interviews and exams.</p>
            <p class="lead">
              <a href="mode" class="btn btn-lg btn-default">Get Started</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Created by Brooke Kelsey and Rachel Stein. Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
	</body>
</html>